<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Classroom</title>
</head>
<body>
<fieldset style="width: fit-content; height: fit-content">
    <legend><h1 style="color:orangered">Classroom</h1></legend>
    <button><a href="/create-classroom">Create new classroom</a></button><br>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <th:block th:each="classrooms: ${classroom}">
            <tr>
                <td th:text="${classrooms.name}"></td>
                <td th:text="${classrooms.description}"></td>
                <td><a th:href="@{/edit-classroom/__${classrooms.id}__ }">Edit</a></td>
                <td><a th:href="@{/delete-classroom/__${classrooms.id}__ }">Delete</a></td>
            </tr>
        </th:block>
    </table>
</fieldset>
</body>
</html>